.datascroller-demo .product-name {
  font-size: 1.5rem;
  font-weight: 700;
}

.starship-search{
  width: 100%;
  margin-bottom: 2vh;
}

.loader{
  text-align: center;
}

.image-placeholder{
  border-radius: 5vh;
}

.datascroller-demo .product-description {
  margin: 0 0 1rem 0;
}

.datascroller-demo .product-category-icon {
  vertical-align: middle;
  margin-right: .5rem;
}

.datascroller-demo .product-category {
  font-weight: 600;
  vertical-align: middle;
}

.datascroller-demo .product-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.datascroller-demo .product-item img {
  width: 150px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-right: 2rem;
}

.datascroller-demo .product-item .product-detail {
  flex: 1 1 0;
}

.datascroller-demo .product-item .p-rating {
  margin: 0 0 .5rem 0;
}

.datascroller-demo .product-item .product-price {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: .5rem;
  align-self: flex-end;
}

.datascroller-demo .product-item .product-action {
  display: flex;
  flex-direction: column;
}

.datascroller-demo .product-item .p-button {
  margin-bottom: .5rem;
}

@media screen and (max-width: 576px) {
  .datascroller-demo .product-item {
      flex-direction: column;
      align-items: center;
  }

  .datascroller-demo .product-item img {
      width: 75%;
      margin: 2rem 0;
  }

  .datascroller-demo .product-item .product-detail {
      text-align: center;
  }

  .datascroller-demo .product-item .product-price {
      align-self: center;
  }

  .datascroller-demo .product-item .product-action {
      display: flex;
      flex-direction: column;
  }

  .datascroller-demo .product-item .product-action {
      margin-top: 2rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
  }
}

@keyframes ui-progress-spinner-color {
  100%,
  0% {
      stroke: #d62d20;
  }
  40% {
      stroke: #0057e7;
  }
  66% {
      stroke: #008744;
  }
  80%,
  90% {
      stroke: #ffa700;
  }
}